:root {
    font-size: 12px;
}

body, html, .main-wrapper {
    height: 100%;
    width: 100%;
    margin: 0;
}

.main-wrapper {
    display: grid;
    grid-template: repeat(5, 1fr) / 1fr 4fr;
}

.sideNav {
    background-color: aqua;
    grid-row: 1 / 6;
    color: white;
    font-size: 1.5rem;
    font-weight: 600;
}

.headerNav{
    background-color: beige;
    grid-column: 2 / 3;
}

.mainareaContent {
    background-color: grey;
    grid-row: 2 / 6;
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 20px;
    padding: 10px;
}

ul, li {
    list-style: none;
}

li:hover {
    background-color: aquamarine;
}

.projectTile,
.otherTile {
    background-color: white;
}

.projectCards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 15px;
}