:root {
    font-size: 12px;
}

p,
li {
    display: flex;
    align-items: center;
    gap: 1rem;
}

body, html, .main-wrapper {
    height: 100%;
    width: 100%;
    margin: 0;
}

.main-wrapper {
    display: grid;
    grid-template: repeat(5, 1fr) / 1fr 4fr;
}

.sideNav {
    background-color: #8EACCD;
    grid-row: 1 / 6;
    color: white;
    font-size: 1.5rem;
    font-weight: 600;
}

.headerNav{
    background-color: beige;
    grid-column: 2 / 3;
    display: grid;
    grid-template: 1fr 1fr / 1fr;
}

.mainareaContent {
    background-color: grey;
    grid-row: 2 / 6;
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 20px;
    padding: 10px;
}

ul, li {
    list-style: none;
    padding-left: 5%;
    align-items: center;
}

li img {
    width: 2rem;
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(53deg) brightness(105%) contrast(101%);
}

#heroIcon {
    width: 4rem;
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(53deg) brightness(105%) contrast(101%);
}

#pageTitle {
    font-size: 2rem;
}

ul {
    margin-bottom: 3rem;
}

li {
    font-size: 1.7rem;
    margin-bottom: 1.2rem;
}

li:hover {
    background-color: aquamarine;
}

.projectTile,
.otherTile {
    background-color: white;
}


.projectCards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 15px;
    overflow: auto;
    margin: 15px;
}

.topRow,
.bottomRow {
    display: grid;
    grid-template-columns: 1.5fr 1fr;
}

.profileArea {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

#mainProfileImage {
    grid-row: 1 / 3;
}

.buttonArea,
.alertBar,
.searchBar {
    display: flex;
    justify-content: space-around;
}

.alertBar {
    justify-content: flex-end;
    gap: 10%;
    margin-right: 10%;
}
